body {margin: 0;}

path {stroke-width: 4px;}

.clearfix {clear: both;}

/*加号实体*/
.plus {position: absolute; background: #66ccff; color: #fff; border-radius: 50%; width: 20px; 
	   height: 20px; font-size: 16px; text-align: center; line-height: 20px; cursor: pointer;}

/*文字输入*/
.text {border: none; position: absolute; text-align: right; background: rgba(0,0,0,0); font-family: Consolas;}

/*导航栏*/
.header {width: 100%; height: 45px; background: #000;}

.logo {color: #fff; font-size: 20px; float: left; line-height: 45px; margin-left: 10px}
/*登录登出操作*/
.op_user {float: right; color: #fff; font-size: 18px; border: 1px solid #fff; width: 60px; cursor: pointer;
	      text-align: center; line-height: 25px; margin-top: 9px; margin-right: 10px}
/*图操作*/
.op {float: left; margin-left: 10px; margin-top: 10px; cursor: pointer;}

/*模态框*/
.modalBox {position: absolute; top: 30%; width: 500px; height: 200px; left: 34%; z-index: 10;}
/*模态框内文字*/
.label {margin: 0 auto;}
.label .labelText {color: #fff; float: left; font-size: 15px; margin-left: 60px; width: 70px; margin-bottom: 20px;}
.label input {margin-left: 20px; float: left;}