<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="js/jquery.min.js"></script>
	<script src="js/raphael.js"></script>
    <script src="js/html2canvas.js"></script>
    <script src="js/canvg.js"></script>
    <script src="js/jspdf.debug.js"></script>
	<title>思维导图</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/form-elements.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="js/bootstrap.min.js"></script>
</head>

<body>
	<div class="header">
		<div class="logo">MindMapper</div>
		<div class="op_user" id="register">注册</div>
		<div class="op_user" id="login">登录</div>
		<div class="op_user" id="logout" hidden="hidden">退出</div>
		<div class="op_user" id="my" hidden="hidden">测试</div>
	</div>
	<div class="clearfix"></div>
	<!--操作项-->
	<img class="op" src="img/back.svg" width="24" id="back">
	<img class="op" src="img/right.svg" width="24" id="forward">
    <img class="op" src="img/save.svg" width="24" id="download">
	<img class="op" src="img/form.svg" width="24" id="save">
	<img class="op" src="img/apps.svg" width="24" id="history">
	
	<!--登录弹窗-->
	<div class="form-box modalBox login" hidden="hidden">
		<div class="form-top">
			<div class="form-top-left">
				<h3>Welcome to mindMapper</h3>
	    		<p>Fill in the form below to get instant access:</p>
			</div>
			<div class="form-top-right">
				<i class="fa fa-pencil"></i>
			</div>
	    </div>
	    <div class="form-bottom">
        	<div class="form-group">
        		<label class="sr-only" for="form-first-name">Username</label>
            	<input type="text" name="form-first-name" placeholder="please input your username" class="form-first-name form-control" id="form-first-name">
            </div>
            <div class="form-group">
            	<label class="sr-only" for="form-last-name">Password</label>
            	<input type="password" name="form-last-name" placeholder="please input your password" class="form-last-name form-control" id="form-last-name" style="padding: 23px 22px; font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 300; box-shadow: none">
            </div>
            <button class="btn" id="loginSubmit">Login!</button>
	    </div>
	</div>
	<!--注册弹窗-->
	<div class="form-box modalBox register" hidden="hidden">
		<div class="form-top">
			<div class="form-top-left">
				<h3>New to mindMapper ? ： ）</h3>
	    		<p>Fill in the form below to get instant access:</p>
			</div>
			<div class="form-top-right">
				<i class="fa fa-pencil"></i>
			</div>
	    </div>
	    <div class="form-bottom">
        	<div class="form-group">
        		<label class="sr-only" for="form-first-name">Username</label>
            	<input type="text" name="form-first-name" placeholder="please input your username" class="form-first-name form-control" id="form-first-name2">
            </div>
            <div class="form-group">
            	<label class="sr-only" for="form-last-name">Password</label>
            	<input type="password" name="form-last-name" placeholder="please input your password" class="form-last-name form-control" id="form-last-name1" style="padding: 23px 22px; font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 300; box-shadow: none">
            </div>
            <div class="form-group">
            	<label class="sr-only" for="form-last-name">Confirm</label>
            	<input type="password" name="form-last-name" placeholder="please confirm your password" class="form-last-name form-control" id="form-last-name2" style="padding: 23px 22px; font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 300; box-shadow: none">
            </div>
            <button class="btn" id="registerSubimt">Register!</button>
	    </div>
	</div>
	<!--我参加的项目弹窗-->
	<div class="form-box modalBox myProjectModel" hidden="hidden">
		<div class="form-top">
			<div class="form-top-left" style="width: 100%">
				<h3>我参加的项目</h3>
	    		<div style="color:#fff;cursor:pointer;display:inline-block;float:right;" id="newProject">新建一个项目</div>
	    		<!-- <div style="color:#fff;cursor:pointer;display:inline-block;float:right;margin-right: 20px;">加入一个项目</div>  -->
			</div>
	    </div>
	    <div class="form-bottom projectList" style="color: #fff"></div>
	</div>
	<!--项目主分支查看-->
	<div class="form-box modalBox myBranchModel" hidden="hidden">
		<div class="form-top">
			<div class="form-top-left" style="width: 100%">
				<h3 id="projectName"></h3>
                <div style="color:#fff;cursor:pointer;display:inline-block;float:left;" id="newMember">添加成员</div>
	    		<div style="color:#fff;cursor:pointer;display:inline-block;float:right;" id="newBranch">新建一个分支</div>
			</div>
	    </div>
	    <div class="form-bottom mainBranchList" style="color: #fff"></div>
	</div>
	<!--我的项目分支查看-->
	<div class="form-box modalBox mySubmitsModel" hidden="hidden">
		<div class="form-top">
			<div class="form-top-left" style="width: 100%">
				<h3 id="branchName"></h3>
				<div style="color:#fff;cursor:pointer;display:inline-block;float:right;" id="backToMainbranch">返回该项目</div>
			</div>
	    </div>
	    <div class="form-bottom mySubmitsList" style="color: #fff">
	    </div>
	</div>
	<div class="modalBox inputModel" hidden="hidden">
		<input type="text" name="" placeholder="输入工程名" id="inputContent">
	</div>
	<div class="modalBox inputModel2" hidden="hidden">
		<input type="text" name="" placeholder="输入分支名" id="inputContent2">
	</div>
	<div class="modalBox inputModel3" hidden="hidden">
		<input type="text" name="" placeholder="输入title" id="inputContent3">
	</div>
    <div class="modalBox inputModel4" hidden="hidden">
        <input type="text" name="" placeholder="输入成员名" id="inputContent4">
    </div>
	<div><img src="img/close.png" width="40" style="float: right;cursor: pointer;" id="close" hidden="hidden"></div>
	<div class="clearfix"></div>
	<!--阴影-->
	<div class="shadow" hidden="hidden"></div>
	<div class="shadow2" hidden="hidden"></div>
</body>

<script>
    function timestampToTime(date){
        var t = new Date(date * 1000).toLocaleString();
        return t;
    }
	//初始化根节点->点击(添加孩子)->addChild()->calcSpace()->updateLocation()->rePaint()->subRePaint()
	//->paintCurve()->setNode()->putText()

	var nodeList = [];
	var globalIndex = 0;
	/////////////////////////////
	//每个节点都是一个对象，设置类//
	/////////////////////////////
	var node = function(parent) {
		//节点序号
		this.index = 0;
		//节点坐标
		this.x = 0;
		this.y = 0;
		//节点上下距离限
		this.up = 20;
		this.down = 20;
		//节点在树中的层数
		this.depth = 0;
		//节点父亲
		this.parent = parent;
		//节点兄长
		this.prebro = null;
		//节点孩子
		this.children = [];
		//设置节点连接的边
		this.edge = [];
		this.edgeNum = 0;
		//节点文字
		this.text = "";
		//节点在子树中的位置
		this.rank = 0;
		//节点的修改状态，仅用于历史图像绘制0-不变，1-增加，2-删除
		this.diff = 0
		//文字设置于提取
		this.setText = function(text) {
			this.text = text;
		}
		//设置节点高度
		this.setHeight = function(y) {
			this.y = y;
		}
		//设置节点序号
		this.setIndex = function(index) {
			this.index = index;
		}
		//设置节点上下距离限
		this.setDistance = function(up,down) {
			this.up = up;
			this.down = down;
		}
		//设置节点所在层数
		this.setDepth = function(depth) {
			this.depth = depth;
		}
		//设置节点位置
		this.setNode = function(x,y) {
			this.x = x;
			this.y = y;
			//添加节点
			$('body').append('<div class="plus" style="left:'+x+'px;top:'+y+'px" onclick="addChild('+this.index+')">'+'+'+'</div>');
		}
		this.setHistoryNode = function(x,y) {
			this.x = x;
			this.y = y;
			//添加节点
			$('body').append('<div class="plus" style="left:'+x+'px;top:'+y+'px">'+'+'+'</div>');
		}
		//设置兄长
		this.setPreBro = function(bro) {
			this.prebro = bro;
		}
		//添加孩子
		this.addChild = function(option) {
			//创建新的孩子并添加到节点集中
			var newNode = new node(this);
			newNode.setIndex(globalIndex);
			console.log('newNodeIndex: '+globalIndex);
			console.log('addChild '+newNode.index);
			nodeList.push(newNode);
			this.children.push(newNode);
			globalIndex++;
			newNode.setDepth(this.depth+1);
			if (this.edgeNum > 0)
				newNode.setPreBro(this.children[this.edgeNum-1]);
			this.edgeNum += 1;
			newNode.rank=this.edgeNum;
			//如果通过图操作改变了模型树的状态，还需要改变链表的状态
			if (option == 0) {
				optionList.remove(optionList.currentNode);
				optionList.append(1,newNode);
				optionList.currentNode = optionList.currentNode.next;
			}
			calcSpace(nodeList[0]);
			updateLocation(nodeList[0]);
			print();
			rePaint();
		}
		//删除孩子 ---- option: 0表示通过delete删除，1表示通过前进后退删除
		this.deleteNode = function(option) {
			var parent = this.parent;
			var index = this.index;
			var howOldIm;
			//获取到该节点是父亲的第howOldIm个孩子
			for (var k = 0; k < parent.edgeNum; k++) 
				if (parent.children[k].index == index){
					howOldIm = k;
					break;
				}
			console.log(howOldIm);
			if (howOldIm == 0 && parent.edgeNum > 1) 
				parent.children[1].setPreBro(null);
			else if (howOldIm != parent.edgeNum - 1)
				parent.children[howOldIm+1].setPreBro(parent.children[howOldIm-1]);
			//从线性数组中删除节点以及其孩子
			for (var i = 0; i < nodeList.length; i++)
				if (nodeList[i].index == index) {
					deleteSubTree(index);
				}
			//从父亲的孩子列表中删除节点
			console.log('edgeNum '+parent.edgeNum);
			for (var j = 0; j < parent.edgeNum; j++)
				if (parent.children[j].index == index) {
					parent.children.splice(j,1);
					break;
				}
			parent.edgeNum -= 1;
			delete this;
			//如果通过图操作改变了模型树的状态，还需要改变链表的状态
			if (option == 0) {
				optionList.remove(optionList.currentNode);
				optionList.append(2,this);
				optionList.currentNode = optionList.currentNode.next;
			}
			//console.log(nodeList);
			calcSpace(nodeList[0]);
			updateLocation(nodeList[0]);
			print();
			rePaint();
		}

		//绘制曲线，输出文字
		this.paintCurve = function(newNode,index,y2) {
			//获取文字所占长度
			if (this.children[index].text != "")
				var len = this.children[index].text.length;
			else len = 0;
			//绘制曲线
			//x1,y1为起始点；x2为贝塞尔曲线横坐标中间点;x3为贝塞尔曲线横坐标终点,x4为直线横坐标终点,y2为线条终点
			var x1 = this.x;
			var y1 = this.y;
			var x2 = x1 + 10;
			var x3 = x2 + 10;
			var	x4 = x3 + 80;
			if (len > 5)
				x4 = x3 + len*15;
			//r标识边对应的节点的index
			//edge[index]中的index是父亲的第index个孩子
			this.edge[index] = raphael.path('M'+x1+','+eval(y1-70)+' Q'+x2+','+eval(y2-70)+' '+x3+','+eval(y2-70)+' '+'L'+x4+','+eval(y2-70)).attr({'stroke':'#ae00ae','r':newNode.index,'rx':0});
			//点击激活事件
			this.edge[index].click(active);
			newNode.setNode(x4,y2);
			newNode.putText(newNode.text,len);
		}
		//历史纪录绘制,因为历史记录是不可修改的
		this.paintHistoryCurve = function(newNode,index,y2) {
			//获取文字所占长度
			if (this.children[index].text != "")
				var len = this.children[index].text.length;
			else len = 0;
			//绘制曲线
			//x1,y1为起始点；x2为贝塞尔曲线横坐标中间点;x3为贝塞尔曲线横坐标终点,x4为直线横坐标终点,y2为线条终点
			var x1 = this.x;
			var y1 = this.y;
			var x2 = x1 + 10;
			var x3 = x2 + 10;
			var	x4 = x3 + 80;
			if (len > 5)
				x4 = x3 + len*15;
			if (this.children[index].diff == 1) {
				this.edge[index] = raphael.path('M'+x1+','+eval(y1-70)+' Q'+x2+','+eval(y2-70)+' '+x3+','+eval(y2-70)+' '+'L'+x4+','+eval(y2-70)).attr({'stroke':'green','r':newNode.index,'rx':0});
			}
			else if (this.children[index].diff == 2) {
				this.edge[index] = raphael.path('M'+x1+','+eval(y1-70)+' Q'+x2+','+eval(y2-70)+' '+x3+','+eval(y2-70)+' '+'L'+x4+','+eval(y2-70)).attr({'stroke':'red','r':newNode.index,'rx':0});
			}
			else if (this.children[index].diff == 3) {
				this.edge[index] = raphael.path('M'+x1+','+eval(y1-70)+' Q'+x2+','+eval(y2-70)+' '+x3+','+eval(y2-70)+' '+'L'+x4+','+eval(y2-70)).attr({'stroke':'#a23400','r':newNode.index,'rx':0});
			}
			else {
				this.edge[index] = raphael.path('M'+x1+','+eval(y1-70)+' Q'+x2+','+eval(y2-70)+' '+x3+','+eval(y2-70)+' '+'L'+x4+','+eval(y2-70)).attr({'stroke':'#ae00ae','r':newNode.index,'rx':0});
			}
			newNode.setHistoryNode(x4,y2);
			newNode.putText(newNode.text,len);
		}
		//可修改的历史纪录绘制,用于出现数据冲突时的处理
		this.paintConflictCurve = function(newNode,index,y2) {
			//获取文字所占长度
			if (this.children[index].text != "")
				var len = this.children[index].text.length;
			else len = 0;
			//绘制曲线
			//x1,y1为起始点；x2为贝塞尔曲线横坐标中间点;x3为贝塞尔曲线横坐标终点,x4为直线横坐标终点,y2为线条终点
			var x1 = this.x;
			var y1 = this.y;
			var x2 = x1 + 10;
			var x3 = x2 + 10;
			var	x4 = x3 + 80;
			if (len > 5)
				x4 = x3 + len*15;
			if (this.children[index].diff == 1) {
				this.edge[index] = raphael.path('M'+x1+','+eval(y1-70)+' Q'+x2+','+eval(y2-70)+' '+x3+','+eval(y2-70)+' '+'L'+x4+','+eval(y2-70)).attr({'stroke':'green','r':newNode.index,'rx':0});
			}
			else if (this.children[index].diff == 2) {
				this.edge[index] = raphael.path('M'+x1+','+eval(y1-70)+' Q'+x2+','+eval(y2-70)+' '+x3+','+eval(y2-70)+' '+'L'+x4+','+eval(y2-70)).attr({'stroke':'red','r':newNode.index,'rx':0});
			}
			else if (this.children[index].diff == 3) {
				this.edge[index] = raphael.path('M'+x1+','+eval(y1-70)+' Q'+x2+','+eval(y2-70)+' '+x3+','+eval(y2-70)+' '+'L'+x4+','+eval(y2-70)).attr({'stroke':'#a23400','r':newNode.index,'rx':0});
			}
			else {
				this.edge[index] = raphael.path('M'+x1+','+eval(y1-70)+' Q'+x2+','+eval(y2-70)+' '+x3+','+eval(y2-70)+' '+'L'+x4+','+eval(y2-70)).attr({'stroke':'#ae00ae','r':newNode.index,'rx':0});
			}
			newNode.setNode(x4,y2);
			newNode.putText(newNode.text,len);
			$('.text').eq(newNode.index).val(newNode.text);
		}

		//放置input
		this.putText = function(content,len) {
			var x = this.x - 70;
			var y = this.y - 15;
			if (content == null)
				content = "";
			var width = 68;
			if (len > 5 ) {
				width = len * 15;
				x = this.x - width;
			}
			$('body').append('<input class="text" id="'+this.index+'" style="left:'+x+'px;top:'+y+'px;width:'+width+'px;" placeholder="text" onblur="getText('+this.index+')" value="'+content+'">');
			// $('body').append('<input id="'+this.index+'" class="text" style="left:'+x+'px;top:'+y+'px;width:'+width+'px;" placeholder="text" onblur="getText('+this.index+')" value="'+content+'">');
		}
	}

	//定义一个双向链表,用于存储树的操作状态，用于撤销和前进
	//链表节点,存储用户的操作
	//option -----  0：无操作 1：增加  2：删除  3：移动
	var listnode = function(option,node) {
		//操作,如增加删除
		this.option = option;
		//操作对象,模型树节点
		this.node = node;
		this.next = null;
		this.prev = null;
	}
	//链操作
	var Llist = function() {
		//初始化链表头
		this.head = null;
		//链表当前节点
		this.currentNode = null;
		//在链表尾插入新的操作
		this.append = function(option,node) {
			var newListnode = new listnode(option,node);
			var currNode = this.findLast();
			newListnode.next = null;
			newListnode.prev = currNode;
			currNode.next = newListnode;
		}
		//删除链表指定位置以后所有元素的操作
		this.remove = function(listnode) {
			var currNode = this.find(listnode);
		    currNode.next = null;
		}
		//在链表中查找到对应位置的节点
		this.find = function(listnode){
		    var currNode = this.head;
		    while (currNode != listnode){
		        currNode = currNode.next;
		    }
		    return currNode;
		}
		//查找链表尾节点
		this.findLast = function() {
			var currNode = this.head;
		    while (!(currNode.next == null)){
		        currNode = currNode.next;
		    }
		    return currNode;
		}
	}

	var optionList = new Llist();

	//边的点击激活函数
	var active = function(e) {
		event.stopImmediatePropagation();
		this.attr('stroke','pink');
		//rx用作点击判断，选中为1，未选中为0
		this.attr('rx',1);
		var index = this.attr('r');
		console.log('active '+index);
		var edge = this;
		$('body').click(function() {
			rePaint();
			edge.attr('rx',0);
		})
		//点击delete删除对应节点
		$(document).keydown(function(event) {
			if (event.keyCode == 46 && edge.attr('rx') == 1) {
				for (var i = 0; i < nodeList.length; i++) {
					if (nodeList[i].index == index) {
						nodeList[i].deleteNode(0);
						break;
					}
				}
			}
		})
	}

	//递归删除子树所有的孩子
	var deleteSubTree = function(index) {
		var currentNode;
		for (var i = 0; i < nodeList.length; i++)
			if (nodeList[i].index == index) {
				currentNode = nodeList[i];
				break;
			}
		for (var j = 0; j < currentNode.edgeNum; j++) {
			deleteSubTree(currentNode.children[j].index);
		}
		for (var k = 0; k < nodeList.length; k++)
			if (nodeList[k].index == index) {
				nodeList.splice(k,1);
				break;
			}
	}

	//递归计算n叉树上下距离限
	var calcSpace = function(root) {
		if (root == null) 
			return null;
		else if (root.edgeNum == 0)
			return root;
		else {
			for (var i = 0; i < root.edgeNum; i++) {
				calcSpace(root.children[i]);
			}
			//上下距离限临时变量
			var up = 0;
			var down = 0;
			//len表示子树总高度
			var len = 0;
			//current表示逐渐添加孩子时子树的高度
			var current = 0;
			//node表示比父节点高的序号最大的孩子（出生最晚）
			var node = 0;
			//如果只有一个孩子，直接计算其上下距离限
			if (root.edgeNum == 1) {
				up = 20 + root.children[0].up;
				down = root.children[0].down>40?root.children[0].down - 20:20;
			}
			else {
				//计算子树全高
				for (var i = 0; i < root.edgeNum; i++) {
					len += root.children[i].up + root.children[i].down;
				}
				//找到临界点（第一个下界越过平均值的点）
				for (var i = 0; i < root.edgeNum; i++) {
					current += root.children[i].up + root.children[i].down;
					if (current >= len/2) {
						node = i;
						break;
					}
				}
				//由于第一个孩子位置固定，所以进行特殊处理
				//如果这个临界点本身在平均值下，则更改临界点为其兄长,对大屁股临界孩子做了特殊处理ε=( o｀ω′)ノ
				if ((current - root.children[node].down + 20 > len/2 || root.children[node].down > len/2) && node != 0 ) {
					node = node - 1;
				}
				console.log('父节点：'+root.index+' 临界点：'+node);
				//计算上下距离限
				for (var i = 0; i < node; i++) 
					up += root.children[i].up + root.children[i].down;
				up += root.children[node].up + 20;
				for (var i = node+1; i < root.edgeNum;i++) 
					down += root.children[i].up + root.children[i].down;
				down += root.children[node].down - 20;
			}
			root.setDistance(up,down);
		}
		return root;
	}

	//更新位置信息
	var updateLocation = function(root) {
		if (root == null) 
			return null;
		else if (root.edgeNum == 0) 
			return root;
		else {
			//len表示子树总高度
			var len = 0;
			//current表示逐渐添加孩子时子树的高度
			var current = 0;
			//node表示比父节点高的序号最大的孩子（出生最晚）
			var node = 0;
			//计算子树全高
			for (var i = 0; i < root.edgeNum; i++) {
				len += root.children[i].up + root.children[i].down;
			}
			//找到临界点（第一个下界越过平均值的点）
			for (var i = 0; i < root.edgeNum; i++) {
				current += root.children[i].up + root.children[i].down;
				if (current >= len/2) {
					node = i;
					break;
				}
			}
			//如果这个临界点本身在平均值下，则更改临界点为其兄长
			if ((current - root.children[node].down + 20 > len/2 || root.children[node].down > len/2) && node != 0 ) {
				node = node - 1;
			}
			for (var i = 0; i < root.edgeNum; i++) {
				//如果该节点没有兄长，确定第一个孩子相对自己的高度
				if (root.prebro == null && i == 0) {
					var diff = 0;
					//如果只有一个孩子，则比根节点高20
					if (root.edgeNum == 1)
						root.children[0].setHeight(root.y - 20);
					//如果不只一个孩子，根据临界点位置确定孩子高度
					else {
						if (node > 0) {
							diff += root.children[0].down; 
							for (var j = 1; j < node; j++)
								diff += root.children[j].up + root.children[j].down;
							diff += root.children[node].up;
						}
						diff += 20;
						root.children[0].setHeight(root.y - diff);
					}
				}
				//如果该节点有兄长，确定第一个孩子相对自己的高度
				else if (i == 0)
					root.children[0].setHeight(root.prebro.y + root.prebro.down + root.children[0].up);
				//如果该节点不是第一个孩子，根据上一个孩子确定自己的高度
				else {
					root.children[i].setHeight(root.children[i-1].y + root.children[i-1].down + root.children[i].up);
				}
				updateLocation(root.children[i]);
			}
		}
	}

	//绘制子图
	var subRePaint = function(root) {
		if (root == null) 
			return null;
		else if (root.edgeNum == null)
			return root;
		else {
			for (var i = 0; i < root.edgeNum; i++) {
				root.paintCurve(root.children[i],i,root.children[i].y);
				subRePaint(root.children[i]);
			}
		}
	}

	//重绘画布
	var rePaint = function() {
		//清空画布
		raphael.clear();
		$('.plus').remove();
		$('.text').remove();
		//初始化绘制
		raphael.path('M40,400 L120,400').attr('stroke','#abc');
		nodeList[0].setNode(120,470);
		//绘制非根节点
		subRePaint(nodeList[0]);
	}

	//打印计算结果，用于测试
	var print = function() {
		for (var i = 0; i < nodeList.length; i++) {
			console.log('index: '+nodeList[i].index+'  上限：'+nodeList[i].up+'  下限: '+nodeList[i].down+'  纵坐标: '+nodeList[i].y+'  内容: '+nodeList[i].text);
		}
		console.log("");
	}

	//绘制思维导图
	var printGraph = function() {
		//清空画布
		raphael.clear();
		$('.plus').remove();
		$('.text').remove();
		//初始化绘制
		raphael.path('M40,400 L120,400').attr('stroke','#abc');
		nodeList[0].setNode(120,470);
		console.log(nodeList);
		calcSpace(nodeList[0]);
		updateLocation(nodeList[0]);
		//绘制非根节点
		subRePaint(nodeList[0]);
	}

	var raphael;
	//初始化图形
	window.onload = function() {
		var width = document.body.scrollWidth;
		$('.shadow').css('width',width);
		$('.shadow2').css('width',width);
		raphael = new Raphael(10,80,width,2000);
		// raphael.path('M40,400 L120,400').attr('stroke','#abc');
		var myRoot = new node(null);
		myRoot.setIndex(0);
		nodeList.push(myRoot);
		globalIndex++;
		// myRoot.setNode(120,470);
		// myRoot.setDepth(1);
		optionList.head = new listnode(0,nodeList[0]);
		optionList.currentNode = optionList.head;
		// print();
//testConvert();
		//判断用户登录情况
		$.ajax({
			type: 'GET',
			url: '/user',
			dataType: 'json',
			success: function(data) {
				console.log(data);
				if (data.code >= 0) {
					login.css('display','none');
					register.css('display','none');
					logout.css('display','block');
					my.css('display','block');
					my.html(data.data[0].username);
				}
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				//location.href = 'error.html';
			} 
		})
	}
	

	//用于连接div与类的功能函数
	addChild = function(index) {
		for (var i = 0; i < nodeList.length; i++)
			if (nodeList[i].index == index)
				nodeList[i].addChild(0);
	}

	//完成增删改后进行修改
	getText = function(index) {
		console.log('节点下标：'+index);
		var textNode;
		var text = $('#'+index).val();
		console.log(text);
		for (var i = 0; i < nodeList.length; i++) 
			if (nodeList[i].index == index) {
				textNode = nodeList[i];
				break;
			}
		textNode.text = text;
		rePaint();
	}

//以下为固定位置的按钮函数
    var download = $("#download");
    download.click(function() {
        // 删除所有class == plus
        $(".plus").remove();
        // 对svg的处理
        var nodesToRecover = [];
        var nodesToRemove = [];
        var svgElem = $("body").find('svg');
        svgElem.each(function(index, node) {
            var parentNode = node.parentNode;
            var svg = node.outerHTML.trim();
            var canvas = document.createElement('canvas');
            canvg(canvas, svg);
            if (node.style.position) {
                canvas.style.position += node.style.position;
                canvas.style.left += node.style.left;
                canvas.style.top += node.style.top;
            }
            nodesToRecover.push({
                parent: parentNode,
                child: node
            });
            parentNode.removeChild(node);
            nodesToRemove.push({
                parent: parentNode,
                child: canvas
            });
            parentNode.appendChild(canvas);
        });
        // 导出pdf
        html2canvas(document.querySelector('body'), {
            background: "#fff"
        }).then(canvas => {
            var imgData = canvas.toDataURL('image/jpeg');
            var img = new Image();
            img.src = imgData;
            //根据图片的尺寸设置pdf的规格，要在图片加载成功时执行，之所以要*0.225是因为比例问题
            img.onload = function() {
                //此处需要注意，pdf横置和竖置两个属性，需要根据宽高的比例来调整，不然会出现显示不完全的问题
                if (this.width > this.height) {
                    var doc = new jsPDF('l', 'mm', [this.width * 0.225, this.height * 0.225]);
                } else {
                    var doc = new jsPDF('p', 'mm', [this.width * 0.225, this.height * 0.225]);
                }
                doc.addImage(imgData, 'jpeg', 0, 0, this.width * 0.225, this.height * 0.225);
                //根据下载保存成不同的文件名
                doc.save('mindmapper_' + new Date().getTime() + '.pdf');
            }
            // 删除canvas
            document.querySelector("canvas").remove();
            //重绘
            raphael = new Raphael(10, 80, document.body.scrollWidth, 5000);
            printGraph();
        });
    });
	//后退按钮
	var back = $('#back');
	back.click(function() {
		var current = optionList.currentNode;
		var op = current.option;
		var node = current.node;
		switch (op) {
			case 1: {
				node.deleteNode(1);
				optionList.currentNode = current.prev;
				break;
			}
			case 2: {
				//node.addChild();
				break;
			}
			default: break;
		}
	})

	////////////////////////////////////////////////////////////
	//全局变量
	//当前项目ID
	var currentTreeId;
	//用户绘制历史思维导图的数组
	var historyNodeList;
	//项目数据
	var projectData;
	//当前分支ID
	var currentBranchID;
	//分支数据
	var branchData;
	//当前提交ID
	var currentSubmitID;
	//提交数据
	var submitData;
	//临时节点
	var tempNode;
	///////////////////////////////////////////////////////////

	//前方大量AJAX出没
	//将思维导图上传至服务器
	var save = $('#save');
	save.click(function() {
		$('.inputModel3').css('display','block');
		var title;
		document.onkeydown=function(event){
		    var e = event || window.event || arguments.callee.caller.arguments[0];
		    if(e && e.keyCode==13) {
		    	title = $('#inputContent3').val();
		    	if (title == '' || title == undefined || title== null) {
					alert('title不能为空');
			    	return;
			    }
			    $('.inputModel3').css('display','none');
			    var tree = convertNodeListToSavedTree(nodeList);
				var treeString = JSON.stringify(tree);
				$.ajax({
					type: 'POST',
					url: '/commit',
					data: {
						'id': currentBranchID,
						'tree': treeString,
						'title': title,
					},
					dataType: 'json',
					success: function(data) {
						console.log('上传返回的数据');
						console.log(data);
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						//location.href = 'error.html';
					}
				})
		    }
		}
	})

	var convertNodeListToSavedTree = function(nodeList) {
		var tree = [];
		for (var i = 0; i < nodeList.length; i++) {
			var saveNode;
			//存储当前节点的必要信息
			saveNode = {
				idx: "" + nodeList[i].index,
				father: "" + (nodeList[i].parent==null?-1:nodeList[i].parent.index),
				rank: nodeList[i].rank,
				edgeNum: nodeList[i].edgeNum,
				preBro: nodeList[i].prebro == null?-1:nodeList[i].prebro.index,
				value: nodeList[i].text
			}
			tree.push(saveNode);
		}
		return tree;
	}

	//不覆盖图标的阴影
	var shadow2 = $('.shadow2');
	//叉叉
	var close = $('#close');
	//获取历史纪录
	var myHistory = $('#history');
	var myProjectModel = $('.myProjectModel');
	var projectList = $('.projectList');
	var myBranchModel = $('.myBranchModel');
	var mainBranchList = $('.mainBranchList');
	var mySubmitsModel = $('.mySubmitsModel');
	var mySubmitsList = $('.mySubmitsList');
	//点击第四个按钮进入我的项目列表
	myHistory.click(function() {
		projectsEntranceHandler();
	})
	//进入项目列表的操作函数
	var projectsEntranceHandler = function() {
		myProjectModel.css('display','block');
		shadow2.css('display','block');
		myBranchModel.css('display','none');
		mySubmitsModel.css('display','none');
		projectList.html('');
		$.ajax({
			type: 'GET',
			url: '/project',
			dataType: 'json',
			success: function(data) {
				console.log('获取项目列表');
				console.log(data);
				projectData = data.data[0];
				var html = '';
				for (var i = 0; projectData != null && i < projectData.length; i++)
					html += '<div class="project"><img src="img/Category.png" width="20">'+projectData[i].name+'</div>';
				projectList.html(html);
				projectHandler();
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				//location.href = 'error.html';
			}
		})
	}
	//进入项目列表后的操作
	var projectHandler = function() {
		//点击该项目进入该项目的主分支提交记录列表---该代码在新建项目中还有一段拷贝
		var project = $('.project');
		project.click(function() {
			var index = project.index(this);
			currentTreeId = projectData[index].treeId;
			$('#projectName').html('项目：'+projectData[index].name);
			branchEntranceHandler();
		})
	}
	//通过该函数获取分支信息
	var branchEntranceHandler = function() {
		$.ajax({
			type: 'GET',
			url: '/branch',
			data: {'pid': currentTreeId},
			dataType: 'json',
			success: function(data) {
				console.log('获取分支列表');
				console.log(data);
				//获取分支数据
				branchData = data.data;
				myProjectModel.css('display','none');
				myBranchModel.css('display','block');
				var html = '';
				html += '<div class="left searchSubmits">'+timestampToTime(data.data[0].startTime)+'  '+data.data[0].name+'</div><div class="clearfix"></div>'
				if (data.data[1] != null)
					for (var i = 0; i < data.data[1].length; i++) {
						html += '<div class="left searchSubmits">'+timestampToTime(data.data[1][i].startTime)+'  '+data.data[1][i].name+'</div><div class="right pull">拉取</div><div class="right merge">发布</div><div class="right edit">编辑</div><div class="clearfix"></div>'
					}
				mainBranchList.html(html);
				getSubmits();
				editHandler();
				mergeHandler();
                pullHandler();
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				//location.href = 'error.html';
			}
		})
	}
	//编辑处理
	var editHandler = function() {
		var edit = $('.edit');
		edit.click(function() {
			myBranchModel.css('display','none');
			var index = edit.index(this);
			var branchName;
			//获取当前分支id
			currentBranchID = branchData[1][index].id;
			$.ajax({
				type: 'GET',
				url: '/commits',
				data: {'id': currentBranchID},
				dataType: 'json',
				success: function(data) {
					console.log('提交信息');
					console.log(data);
					var len = data.data[0].length;
					submitData = data.data[0];
					currentSubmitID = data.data[0][len-1].id;
					var html = '';
					for (var i = 0; i < data.data[0].length; i++) {
						html += '<div class="record"><div class="left">'+timestampToTime(data.data[0][i].time)+'</div><div class="left">'+data.data[0][i].title+'</div><div class="right">'+data.data[0][i].submitter+'</div><div class="clearfix"></div></div>';
					}
					mySubmitsList.html(html);
					recordHandler();
					$.ajax({
						type: 'GET',
						url: '/commit',
						data: {'id': currentSubmitID},
						dataType: 'json',
						success: function(data) {
							console.log('提交数据');
							console.log(data);
							var tree = data.data[0].tree.tree;
							var diff = data.data[0].diff;
							convertTreeToModelTree(tree);
							mySubmitsModel.css('display','none');
							shadow2.css('display','none');
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							//location.href = 'error.html';
						}
					})
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					//location.href = 'error.html';
				}
			})
		})
	}
    //拉取功能的处理函数
	var pullHandler = function() {
        var pull = $('.pull');
        pull.click(function() {
            //获取当前分支id
            var index = pull.index(this);
            console.log(index);
            console.log(branchData);
            currentBranchID = branchData[1][index].id;
            console.log(currentTreeId);
            console.log(currentBranchID);
            $.ajax({
                type: 'GET',
                url: '/merge',
                data: {'pid': currentTreeId,
                    'bid': currentBranchID},
                dataType: 'json',
                success: function(data) {
                    console.log('merge');
                    console.log(data);
                    if (data.code == 1) {
                        alert('pull sucess!');
                        console.log('pull sucess!!!!!!');
                    } 
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    //location.href = 'error.html';
                }
            })
        })
    }
	//发布功能的处理函数
	var mergeHandler = function() {
		var merge = $('.merge');
		merge.click(function() {
			//获取当前分支id
			var index = merge.index(this);
			console.log(index);
			console.log(branchData);
			currentBranchID = branchData[1][index].id;
			console.log(currentTreeId);
			console.log(currentBranchID);
			$.ajax({
				type: 'POST',
				url: '/merge',
				data: {'pid': currentTreeId,
						'bid': currentBranchID},
				dataType: 'json',
				success: function(data) {
                    console.log('merge');
					console.log(data);
					if (data.code == 1) {
                        console.log('auto merge sucess!!!!!!');
					} else if (data.code == 2) {
                        console.log('need fix');
                        // 处理冲突
                        myBranchModel.css('display','none');
                        //获取当前分支id
                        currentBranchID = branchData[0].id;
                        currentSubmitID = branchData[0].id;
                        console.log('树及差异');
                        console.log(data);
                        var tree = data.data[0].Tree.tree;
                        var diff = data.data[0].Diff;
                        convertTreeToConflictModelTree(tree,diff);
                        shadow2.css('display','none');
					}
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					//location.href = 'error.html';
				}
			})
		})
	}
	//点击查看获取该分支的提交列表
	var getSubmits = function() {
		var searchSubmits = $('.searchSubmits');
		searchSubmits.click(function() {
			myBranchModel.css('display','none');
			mySubmitsModel.css('display','block');
			var index = searchSubmits.index(this);
			var branchName;
			//获取当前分支id和名字
			if (index == 0) {
				currentBranchID = branchData[0].id;
				branchName = branchData[0].name;
			}
			else {
				currentBranchID = branchData[1][index-1].id;
				branchName = branchData[1][index-1].name;
			}
			$('#branchName').html('分支：'+branchName);
			submitEntranceHandler();
		})
	}
	//通过该函数获取提交信息
	var submitEntranceHandler = function() {
		$.ajax({
			type: 'GET',
			url: '/commits',
			data: {'id': currentBranchID},
			dataType: 'json',
			success: function(data) {
				console.log('提交信息');
				console.log(data);
				submitData = data.data[0];
				console.log('2');
				console.log(submitData);
				var html = '';
				for (var i = 0; i < data.data[0].length; i++) {
					html += '<div class="record"><div class="left">'+timestampToTime(data.data[0][i].time)+'</div><div class="left">'+data.data[0][i].title+'</div><div class="right">'+data.data[0][i].submitter+'</div><div class="clearfix"></div></div>';
				}
				mySubmitsList.html(html);
				recordHandler();
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				//location.href = 'error.html';
			}
		})
	}
	//处理历史记录，将该记录对应的思维导图并给出差异
	var recordHandler = function() {
		var record = $('.record');
		record.click(function() {
			var index = record.index(this);
			currentSubmitID = submitData[index].id;
			$.ajax({
				type: 'GET',
				url: '/commit',
				data: {'id': currentSubmitID},
				dataType: 'json',
				success: function(data) {
					console.log('树及差异');
					console.log(data);
					var tree = data.data[0].tree.tree;
					var diff = data.data[0].diff;
					convertTreeToHistoryModelTree(tree,diff);
					mySubmitsModel.css('display','none');
					shadow2.css('display','none');
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					//location.href = 'error.html';
				}
			})
		})
	}
	//新建一个项目
	$('#newProject').click(function() {
		//项目名
		var name;
		$('.inputModel').css('display','block');
		document.onkeydown=function(event){
		    var e = event || window.event || arguments.callee.caller.arguments[0];
		    if(e && e.keyCode==13){
		        name = $('#inputContent').val();
		        if (name == '' || name == undefined || name == null) {
		        	alert('工程名不能为空');
		        	return;
		        }
		        $('.inputModel').css('display','none');
		        $.ajax({
					type: 'POST',
					url: '/project',
					data: {'name': name},
					dataType: 'json',
					success: function(data) {
						console.log(data);
						projectsEntranceHandler();
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						//location.href = 'error.html';
					}
				})
		    }
	    }; 
	})
	//分支菜单，返回到项目菜单
	$('#backToMainbranch').click(function() {
		myBranchModel.css('display','block');
		mySubmitsModel.css('display','none');
	})
	// 添加成员
    $('#newMember').click(function() {
        var name;
        $('.inputModel4').css('display','block');
        document.onkeydown=function(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if(e && e.keyCode==13){
                name = $('#inputContent4').val();
                if (name == '' || name == undefined || name == null) {
                    alert('成员名不能为空');
                    return;
                }
                $('.inputModel4').css('display','none');
                $.ajax({
                    type: 'POST',
                    url: '/projectMember',
                    data: {'pid': currentTreeId,'name': name},
                    dataType: 'json',
                    success: function(data) {
                        if (data.code === 1) {
                            alert('添加成功');
						} else {
                            alert('用户不存在');
						}
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        //location.href = 'error.html';
                    }
                })
            }
        }
    })
	//新建分支
	$('#newBranch').click(function() {
		var name;
		$('.inputModel2').css('display','block');
		document.onkeydown=function(event){
		    var e = event || window.event || arguments.callee.caller.arguments[0];
		    if(e && e.keyCode==13){
		        name = $('#inputContent2').val();
		        if (name == '' || name == undefined || name == null) {
		        	alert('分支名不能为空');
		        	return;
		        }
		        $('.inputModel2').css('display','none');
		  		$.ajax({
					type: 'POST',
					url: '/branch',
					data: {'pid': currentTreeId,'name': name},
					dataType: 'json',
					success: function(data) {
						console.log('返回的branch数据');
						console.log(data);
						branchEntranceHandler();
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						//location.href = 'error.html';
					}
				})
		    }
		}
	})
	//将从后台拉取的数组转换成模型树--用于编辑模型
	var convertTreeToModelTree = function(tree) {
		console.log(tree);
		nodeList = [];
		var fatherNode;
		var broNode;
		for (var i = 0; tree[i] != null; i++) {
			//设置父节点
			for (var j = 0; j < nodeList.length; j++) {
				if (nodeList[j].index == parseInt(tree[i].father))
					fatherNode = nodeList[j];
				if (nodeList[j].index == tree[i].preBro)
					broNode = nodeList[j];
			}
			var myNode = new node(i==0?null:fatherNode);
			myNode.index = parseInt(tree[i].idx);
			myNode.edgeNum = tree[i].edgeNum;
			myNode.rank = tree[i].rank;
			myNode.prebro = tree[i].rank == 1?null:broNode;
			myNode.text = tree[i].value;
			//还需要给节点父亲设置children[x]----在calcSpace中使用
			if (i != 0) 
				fatherNode.children.push(myNode);
			// historyNode.text = tree[i].value;
			nodeList.push(myNode);
		}
		//更新globalIndex
		globalIndex = 1;
		if (nodeList != null)
			for (var i = 0; i < nodeList.length; i++) 
				if (nodeList[i].index >= globalIndex)
					globalIndex = nodeList[i].index + 1;
		printGraph(nodeList);
	}
	//将从后台拉取的数组转换成模型树--用于历史模型
	var convertTreeToHistoryModelTree = function(tree,diff) {
		var historyNodeList = [];
		var fatherNode;
		var broNode;
		var diffNode;
		for (var i = 0; tree[i] != null; i++) {
			//设置父节点
			for (var j = 0; j < historyNodeList.length; j++) {
				if (historyNodeList[j].index == parseInt(tree[i].father))
					fatherNode = historyNodeList[j];
				if (historyNodeList[j].index == tree[i].preBro)
					broNode = historyNodeList[j];
			}
			var historyNode = new node(i==0?null:fatherNode);
			historyNode.index = parseInt(tree[i].idx);
			historyNode.prebro = tree[i].rank == "1"?null:broNode;
			historyNode.edgeNum = tree[i].edgeNum;
			historyNode.rank = tree[i].rank;
			historyNode.text = tree[i].value;
			//还需要给节点父亲设置children[x]----在calcSpace中使用
			if (i != 0) 
				fatherNode.children.push(historyNode);
			// historyNode.text = tree[i].value;
			historyNodeList.push(historyNode);
		}
		console.log('diff');
		console.log(diff);
		//在树中插入删除的节点,用户展现出差异图
		for (var i = 0; diff.nodes[i] != null; i++) {
			if (diff.nodes[i].operate == 2) {
				//设置父节点
				for (var j = 0; j < historyNodeList.length; j++) {
					if (historyNodeList[j].index == parseInt(diff.nodes[i].node.father))
						fatherNode = historyNodeList[j];
					if (historyNodeList[j].index == diff.nodes[i].node.preBro)
						broNode = historyNodeList[j];
				}
				var historyNode = new node(fatherNode);
				historyNode.index = parseInt(diff.nodes[i].node.idx);
				historyNode.prebro = diff.nodes[i].node.rank == "1"?null:broNode;
				historyNode.edgeNum = diff.nodes[i].node.edgeNum;
				historyNode.rank = diff.nodes[i].node.rank;
				historyNode.text = diff.nodes[i].node.value;
				fatherNode.edgeNum++;
				//还需要给节点父亲设置children[x]----在calcSpace中使用
				fatherNode.children.push(historyNode);
				// historyNode.text = tree[i].value;
				historyNodeList.push(historyNode);
			}
		}
		for (var i = 0; diff.nodes[i] != null; i++) {
			for (var j = 0; j < historyNodeList.length; j++) 
				if (historyNodeList[j].index == diff.nodes[i].node.idx)
					diffNode = historyNodeList[j];
			diffNode.diff = diff.nodes[i].operate;
		}
		console.log('差异list');
		console.log(historyNodeList);
		printHistoryGraph(historyNodeList);
	}
	//绘制历史思维导图
	var printHistoryGraph = function(historyNodeList) {
		//清空画布
		raphael.clear();
		$('.plus').remove();
		$('.text').remove();
		//初始化绘制
		raphael.path('M40,400 L120,400').attr('stroke','#abc');
		historyNodeList[0].setHistoryNode(120,470);
		console.log(historyNodeList);
		calcSpace(historyNodeList[0]);
		updateLocation(historyNodeList[0]);
		//绘制非根节点
		subHistoryRePaint(historyNodeList[0]);
		//显示叉叉
		close.css('display','block');
	}
	//绘制历史子图
	var subHistoryRePaint = function(root) {
		if (root == null) 
			return null;
		else if (root.edgeNum == null)
			return root;
		else {
			for (var i = 0; i < root.edgeNum; i++) {
				root.paintHistoryCurve(root.children[i],i,root.children[i].y);
				subHistoryRePaint(root.children[i]);
			}
		}
	}
	//将从后台拉取的数组转换成模型树--用于冲突模型
	var convertTreeToConflictModelTree = function(tree,diff) {
		var historyNodeList = [];
		var fatherNode;
		var broNode;
		var diffNode;
		for (var i = 0; tree[i] != null; i++) {
			//设置父节点
			for (var j = 0; j < historyNodeList.length; j++) {
				if (historyNodeList[j].index == parseInt(tree[i].father))
					fatherNode = historyNodeList[j];
				if (historyNodeList[j].index == tree[i].preBro)
					broNode = historyNodeList[j];
			}
			var historyNode = new node(i==0?null:fatherNode);
			historyNode.index = parseInt(tree[i].idx);
			historyNode.prebro = tree[i].rank == "1"?null:broNode;
			historyNode.edgeNum = tree[i].edgeNum;
			historyNode.rank = tree[i].rank;
			historyNode.text = tree[i].value;
			//还需要给节点父亲设置children[x]----在calcSpace中使用
			if (i != 0) 
				fatherNode.children.push(historyNode);
			// historyNode.text = tree[i].value;
			historyNodeList.push(historyNode);
		}
		console.log('diff');
		console.log(diff);
		//在树中插入删除的节点,用户展现出差异图
		for (var i = 0; diff[i] != null; i++) {
			if (diff[i].operate == 2) {
				//设置父节点
				for (var j = 0; j < historyNodeList.length; j++) {
					if (historyNodeList[j].index == parseInt(diff[i].node.father))
						fatherNode = historyNodeList[j];
					if (historyNodeList[j].index == diff[i].node.preBro)
						broNode = historyNodeList[j];
				}
				var historyNode = new node(fatherNode);
				historyNode.index = parseInt(diff[i].node.idx);
				historyNode.prebro = diff[i].node.rank == "1"?null:broNode;
				historyNode.edgeNum = diff[i].node.edgeNum;
				historyNode.rank = diff[i].node.rank;
				historyNode.text = diff[i].node.value;
				fatherNode.edgeNum++;
				//还需要给节点父亲设置children[x]----在calcSpace中使用
				fatherNode.children.push(historyNode);
				// historyNode.text = tree[i].value;
				historyNodeList.push(historyNode);
			}
		}
		for (var i = 0; diff[i] != null; i++) {
			for (var j = 0; j < historyNodeList.length; j++) 
				if (historyNodeList[j].index == diff[i].node.idx)
					diffNode = historyNodeList[j];
			diffNode.diff = diff[i].operate;
		}
		//更新globalIndex
		nodeList = historyNodeList;
		globalIndex = 1;
		if (nodeList != null)
			for (var i = 0; i < nodeList.length; i++) 
				if (nodeList[i].index >= globalIndex)
					globalIndex = nodeList[i].index + 1;
		printConflictGraph(historyNodeList);
	}
	//绘制冲突思维导图
	var printConflictGraph = function(historyNodeList) {
		//清空画布
		raphael.clear();
		$('.plus').remove();
		$('.text').remove();
		//初始化绘制
		raphael.path('M40,400 L120,400').attr('stroke','#abc');
		historyNodeList[0].setHistoryNode(120,470);
		console.log(historyNodeList);
		calcSpace(historyNodeList[0]);
		updateLocation(historyNodeList[0]);
		//绘制非根节点
		subConflictRePaint(historyNodeList[0]);
		//显示叉叉
		// close.css('display','block');
	}
	//绘制冲突子图
	var subConflictRePaint = function(root) {
		if (root == null) 
			return null;
		else if (root.edgeNum == null)
			return root;
		else {
			for (var i = 0; i < root.edgeNum; i++) {
				root.paintConflictCurve(root.children[i],i,root.children[i].y);
				subConflictRePaint(root.children[i]);
			}
		}
	}
	//关闭历史思维导图---即重绘当前工作思维导图
	close.click(function() {
		rePaint();
		console.log(nodeList);
		close.css('display','none');
	})

//用户登录系统
	var login = $('#login');
	var loginModel = $('.login');
	var register = $('#register');
	var registerModel = $('.register');
	var logout = $('#logout');
	var my = $('#my');
	var myModel = $('.myModel');
	var shadow = $('.shadow');

	//登录按钮
	login.click(function() {
		loginModel.css('display','block');
		registerModel.css('display','none');
		myBranchModel.css('display','none');
		mySubmitsModel.css('display','none');
		myProjectModel.css('display','none');
		shadow.css('display','block');
		document.onkeydown=function(event){
		    var e = event || window.event || arguments.callee.caller.arguments[0];
		    if(e && e.keyCode==13){
		    	loginFunc();
		    }
		}
	})
	// 退出按钮
    logout.click(function() {
        logoutFunc();
    })
    var logoutFunc = function() {
        $.ajax({
            type: 'GET',
            url: '/logout',
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            dataType: 'json',
            success: function(data) {
                registerModel.css('display','none');
                myBranchModel.css('display','none');
                mySubmitsModel.css('display','none');
                myProjectModel.css('display','none');
                shadow.css('display','none');
                login.css('display','block');
                register.css('display','block');
                logout.css('display','none');
                my.css('display','none');
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                //location.href = 'error.html';
            }
        })
    }
    //注册按钮
	register.click(function() {
		registerModel.css('display','block');
		loginModel.css('display','none');
		myBranchModel.css('display','none');
		mySubmitsModel.css('display','none');
		myProjectModel.css('display','none');
		shadow.css('display','block');
	})
	//点击模态框外空间隐藏模态框
	shadow.click(function() {
		loginModel.css('display','none');
		registerModel.css('display','none');
		shadow.css('display','none');
	})
	shadow2.click(function() {
		myProjectModel.css('display','none');
		myBranchModel.css('display','none');
		mySubmitsModel.css('display','none');
		shadow2.css('display','none');
	})
	//登录提交按钮
	var loginSubmit = $('#loginSubmit');
	loginSubmit.click(function() {
		loginFunc();
	})
	var loginFunc = function() {
		var username = $('#form-first-name').val();
		var password = $('#form-last-name').val();
		$.ajax({
			type: 'POST',
			url: '/login',
			data: {
				'username': username,
				'password': password
			},
			crossDomain: true,
			xhrFields: {
				withCredentials: true
			},
			dataType: 'json',
			success: function(data) {
				login.css('display','none');
				register.css('display','none');
				logout.css('display','block');
				my.css('display','block');
				my.html(data.data[0].username);
				loginModel.css('display','none');
				shadow.css('display','none');
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				//location.href = 'error.html';
			}
		})
	}
	//注册提交按钮
	var registerSubimt = $('#registerSubimt');
	registerSubimt.click(function() {
		var username = $('#form-first-name2').val();
		var password = $('#form-last-name1').val();
		var repeatPassword = $('#form-last-name2').val();
		$.ajax({
			type: 'POST',
			url: '',
			data: {
				username: username,
				password: password,
				repeatPassword: repeatPassword
			},
			dataType: 'json',
			success: function(data) {

			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				//location.href = 'error.html';
			}
		})
	})
	//登出
	var logout = $('#logout');
	logout.click(function() {

	})
</script>